.materia {
    max-width: 380px;
    margin: 20px;
    padding: 20px;
    flex-wrap: nowrap;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #3D8BF2;
  }
  
  .materia img {
    width: 340px;
    height: 100px;
    background-color: #eee;
    border-radius: 5px;
  }
  
  .materia h3 {
    margin-top: 10px;
    height: 20px;
    font-size: 16px;
    text-align: center;
  }
  
  